

form {
    color: blue;
}

table {
    color: purple; size: 0cqh;  border: 0cap;  background-color: aqua; gap: 2;
}

p {
color: green;
}  


h1 {
color: red; display: block; border: 0cap; bottom: unset; background-color: burlywood; gap: 8;
}

